<header class="nav">
  <h1>navgation bar</h1>
  <button><a href="./views/index">Home</a></button>
  <button><a href="/users">users</a></button>
  <button><a href="./views/items">Items</a></button>
  <button><a href="./views/favourites">Favourites</a></button>
</header>
