<!-- <header class="nav">
  <h1>navgation bar</h1>
  <button><a href="/index">Home</a></button>
  <button><a href="/users">users</a></button>
  <button><a href="/items">Items</a></button>
<<<<<<< HEAD
  <button><a href="/favourites">Favourites</a></button>
=======
  <button><a href="/favourites">Favourites</a></button> -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/urls">Buy/Sell</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="./index">Home</a>
        <a class="nav-item nav-link" href="/users">Users</a>
        <a class="nav-item nav-link" href="./items">Items</a>
        <a class="nav-item nav-link" href="./favourites">Search Items</a>
        <a class="nav-item nav-link" href="./favourites">Messages</a>
        <a class="nav-item nav-link" href="./favourites">Favourites</a>
      </div>
    </div>
  </nav>
>>>>>>> master
</header>
