<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Buy/Sell</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/users">Users</a>
        <a class="nav-item nav-link" href="/users/items">Items</a>
        <a class="nav-item nav-link" href="/search">Search Items</a>
        <a class="nav-item nav-link" href="/messages">Messages</a>
        <a class="nav-item nav-link" href="/users/favourites">Favourites</a>
        <a class="nav-item nav-link" href="/users/items/new">Post Item</a>
      </div>
    </div>

    <% if (username) { %>
    <form action="/logout" method="POST">
      <label>Welcome! <%= username %> </label>
      <button>Log out</button>
    </form>
    <% } else {%>
    <form action="/login" method="POST">
      <label>Username</label>
      <input type="text" name="username" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Submit</button>
    </form>
    <% } %>
  </nav>
</header>
